body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
button:hover, .itens:hover{
    cursor:pointer;
    filter: brightness(95%);
}
.fundo{
    position:fixed;
    z-index: 3;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    border: transparent;
}
.fundo:hover{
    filter:none;
    cursor:default;
}
.confirmacao{
    position: fixed;
    left: calc(50% - 188.5px);
    top: calc(50% - 176.5px);
    z-index: 4;

    width: 377px;
    height: 353px;
       
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

}
.confirmacao h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

    margin: 21px auto 28px auto;

}
.confirmacao div{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;

    color: #FFFFFF;
    margin: 13px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total, .precofinal{
    font-weight: bold;
}
.esconder{
    display: none;
}
.enviarpedido{
    font-weight: bold;
    font-size: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.018em;

    color: #50D074;

    width: 329px;
    height: 52px;

    background-color: #ffffff;

    border-radius: 100px;
    border-color: transparent;

    margin: 24px auto 0 auto;
}
.cancelar{
    font-weight: bold;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.018em;

    color: #FFFFFF;

    width: 333px;
    height: 52px;

    margin: 2px auto;

    background-color: transparent;

    border-color: transparent;

}
header h1, main h1{
    font-family: 'Righteous', cursive;
}
header{
    background-color: #cf2b2b;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    position:fixed;
    top: 0;
    z-index: 2;

    width: 100%;
    height: 92px;
}
header h1{
    font-weight: normal;
    font-size: 44px;
    
    letter-spacing: -0.012em;
  
    color: #FFFFFF;

    margin-left: 21px;
}
header p{
    font-weight: normal;
    font-size: 18px;

    color: #FFFFFF;

    margin-left: 21px;
}
main{
    background-color: #e5e5e5;
    padding: 96px 19px 108px 19px;
}
main h1{
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.018em;

    color: #333333;

    margin-bottom: 17px;
    margin-top: 27px;
}
.itensprato, .itensbebida, .itenssobremesa{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;

    gap: 16px;
}
.itens{
    width: 172px;
    background-color: #ffffff;    
    
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    
    border-radius: 9px;

    padding-bottom: 13px;

    position: relative;
}
.itens img{
    height: 87px;
    width: 144px;
    margin: 18px 14px 8px 14px;
    border-radius: 4px;
    object-fit: cover;
}
.itens h2{
    font-weight: bold;
    font-size: 16px;
    
    color: #333333;

    margin-left: 15px;
} 
.itens p{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #A6A6A6;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.itens span{
    font-weight: normal;
    font-size: 16px;

    color: #000000;

    margin-left: 14px;
}
footer{
    background-color: #FFFFFF;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    z-index: 2;

    height: 92px;
    width: 100%;
}
.fecharpedido{
    width:88%;
    height: 61px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding:0 16%;
    border-radius: 60px;
    border-color: transparent;

    background-color: #32B72F;

    font-weight: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}
.fecharpedido:disabled{
    background-color: #cbcbcb;
}
.fecharpedido:enabled{
    background-color: #32B72F;
}
.selecao{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}
.iconselecao{
    color: #32B72F;
    font-size: 18px;

    position:absolute;
    right: 13px;
    bottom: 13px;

    z-index: 1;

    display: none;
}
.mostraricon{
    display: flex;
}
